<!DOCTYPE html>
<html>
<head>
    <title>Token Treasury</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <header>
        <h1>Token Treasury</h1>
    </header>
    <main>
        <section id="Enterprise">
            <h2>Enterprise Tokens</h2>
            <div id="Enterprise-container"></div>
        </section>
        <section id="ai-tokens">
            <h2>Ai Tokens</h2>
            <div id="ai-tokens-container"></div>
        </section>
        <section id="utility-tokens">
            <h2>Utility Tokens</h2>
            <div id="utility-tokens-container"></div>
        </section>
    </main>
    
    <script>
       fetch('/get_data')
    .then(response => response.json())
    .then(data => {
        const container = document.getElementById('Enterprise-container');
        data.forEach(coin => {
            const div = document.createElement('div');
            div.className = 'crypto-container';
            div.innerHTML = `
                <p>${coin.name} (${coin.symbol}) $ ${coin.price}</p>
            `;
            container.appendChild(div);
        });
    })
    .catch(error => console.error('Error:', error));

    
    </script>

</body>
</html>