<!DOCTYPE html>
<html>
<head>
    <title>Token Treasury</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <header>
        <h1>Token Treasury</h1>
    </header>
    <main>
        <section id="Enterprise">
            <h2>Enterprise Tokens</h2>
            <div id="Enterprise-container"></div>
        </section>
        <section id="ai-tokens">
            <h2>Ai Tokens</h2>
            <div id="ai-tokens-container"></div>
        </section>
        <section id="gaming-tokens">
            <h2>Gaming Tokens</h2>
            <div id="gaming-tokens-container"></div>
        </section>
    </main>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  

  </body>

  </html>